{% extends 'base.html' %}
{% block title %} Change Password 2 {% endblock %}

{% block body%}
    <br><br>
    {% if errormessage %}
        <h4 style="color: red; margin-left: 5em;">{{errormessage}}</h4>
    {% endif %}
    <br><br>
    <div class="container">
        <h1 style="text-align: center;">Change Password : </h1>
        <br>
        <div class="container">
            <div class="jumbotron fj">
                <h2>Please Enter the new password :</h2>
                <br>
                <form action="{% url  'registration:change_password2' %}" method="POST">

                    {% csrf_token %}
                    <label for="password1"> Password </label>
                    <input type="password" name = "password1" placeholder="Enter the new Password " >

                    <br><br>

                    <label for="password2"> Confirm Password </label>
                    <input type="password" name = "password2" placeholder="Confirm the Password " >

                    <br> <br>

                    <button type="submit">Save changes</button>

                </form>
    
            </div>
        </div>
    </div>

{% endblock %}

