{% extends 'base.html' %}
{% block title %} Change Password 1 {% endblock %}

{% block body%}
    <br><br>
    {% if errormessage %}
        <h4 style="color: red; margin-left: 5em;">{{errormessage}}</h4>
    {% endif %}
    <br><br>
    <div class="container">
        <h1 style="text-align: center;">Confirm your User status : </h1>
        <br>
        <div class="container">
            <div class="jumbotron fj">
                <h2>Please enter your Username and Email :</h2>
                <br>
                <form action="{% url  'registration:change_password1' %}" method="POST">

                    {% csrf_token %}
                    <label for="username"> UserName </label>
                    <input type="text" name = "username" placeholder="Enter the Username "  >

                    <br><br>

                    <label for="email_check"> Email id </label>
                    <input type="email" name = "email_check" placeholder="Enter the Email ID "  >

                    <br><br>

                    <input type="submit" value="Change Password">
                
                </form>
            </div>
        </div>
    </div>

{% endblock %}
