{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}

{% block body%}
    <h1 style="text-align: center;">Sign in</h1>
    <br>
    <div class="container">
        {% if signin_error %}
            <h4 style="display: inline-block; width: 100%; color:red; text-align: center; font-family: 'Roboto', sans-serif;">{{ signin_error }}</h4>
        {% endif %}
    <div class="jumbotron signin-jumbo">
        <h2>Please sign in :</h2>
        <br>
        <form action="{% url  'registration:signin' %}" method="POST">
            {% csrf_token %}
            <label for="username"> UserName </label>
            <input type="text" name = "username" placeholder="Enter the Username "  >

            <br>
            <br>

            <label for="password"> Password </label>
            <input type="password" name = "password" placeholder="enter the password "  >

            <br>
            <br>

            <button class="btn btn-outline-primary signin-button" type="submit" onclick = "test()"> Signin </button>
            
            <br><br>

            <div class="row signin-options ">
                <div class="col-lg-6">
                    <a href="{% url 'registration:signup' %}"> signup </a>
                </div>

                <div class="col-lg-6">
                    <a href="{% url 'registration:change_password1' %}"> Forgot Password </a>
                </div>
            </div>
        </form>
    </div>

    <br>
    <div class="help jumbotron" style="width: 90%; margin: 2% 5%;">
        <h3> 登録するか(new user)、次の資格情報を使用してログインしてください </h3>
        <br>
        <h4>ADMIN : (username: admin , pwd: admin)  *製品を追加したり、他の管理者権限を使用したりできます </h4>
        <h4>user : (username: test , pwd: test) *通常のユーザー権限</h4>
    </div>
    <br>
</div>

{% endblock %}

