<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}


{% block body %}

<br>

<div class="container">
    <div class="jumbotron">
        <h4 class="contact-us-header">CONTACT US</h4>
        <p class="contact-us-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos reiciendis molestiae quasi vero quidem odio dolores voluptatem quibusdam autem sequi modi repudiandae doloremque numquam eaque non id, atque animi ea voluptates culpa rem laborum magni. Quibusdam soluta id numquam nulla ad totam quod eius recusandae molestiae! Necessitatibus a aspernatur assumenda nihil libero possimus itaque natus ullam maxime iure! Voluptas ipsam eligendi maiores libero officia veritatis quis facere, dolore veniam natus?</p>

        <div class="row contact-us-contact-info">
                <p class="contact-us-contact-info-email"> <a href="mailto:sangeethsubramoniam@gmail.com" ><i class="far fa-envelope"></i> sangeethsubramoniam@gmail.com</a></p> 
                <p class="contact-us-contact-info-phone"> <a href="tel:080-9586-3651"><i class="fas fa-phone-volume"></i> 080-95863651</a></p>
        </div>
    </div>
    
</div>
<br>

    

{% endblock %}